/* google font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  /* shared styles */
  .title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
  }
  .details{
    font-size: 16px;
    color: 0E0E0E;
  }
  .text-center{
    text-align: center;
  }
  .primary-bg{
    background-color: #C6E4D6;
  }
  .primary-btn{
    background-color: #006A50;
    padding: 13px 26px;
    border-radius: 5px;
    border: none;
  }
  .primary-btn a{
    color: #FFFFFF;
    text-decoration: none;
  }
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #F1F1F3;
  }
  
  header,main{
    max-width: 1280px;
    margin: 0 auto;
  }
  /* nav */
  .nav{
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  .logo{
    font-size: 32px;
  }
  .sign-in{
    color: #006A50;
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 5px;
  }
  /* banner */
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    border-radius: 5px;
  }
  .banner-subtitle{
    /* todo: can't find color in figma */
    color: #40564c;
    font-size: 24px;
  }
  .banner-tilte{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  footer{
  background: #FFFFFF;
  }
