/* google font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* details */
  .regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* opinion */
   .semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  } 
  /* title */
 .bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
/* universal class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* shared styles */
  body{
    font-family: 'Fira Sans';
  }
  .title{
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 32px;
  }
  .card-container{
    display: flex;
    gap: 24px;
  }
  .card-title{
    font-size: 20px;
    margin: 12px 0;
  }
  .details{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 16px;
  }
  .text-center{
    text-align: center;
  }
  .primary-bg{
    background-color: #C6E4D6;
  }
  .primary-btn{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 13px 26px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  /* btn hover */
  .primary-btn:hover,
  .learn-more-btn:hover,
  #learn-more-btn-one:hover,
  #learn-more-btn-two:hover, #learn-more-btn-three:hover {
    background-color: #FFFFFF;
    color: #006A50;
    border: 1px solid #006A50;
  }
  body{
    background-color: #F1F1F3;
  }
  
  header,main{
    max-width: 1280px;
    margin: 0 auto;
  }
  section, .banner{
    margin-bottom: 80px;
  }
  section>.details{
    margin-bottom: 32px;
  }
  /* nav */
  .nav{
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  .logo{
    font-size: 32px;
  }
  .sign-in{
    color: #006A50;
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .sign-in:hover{
    background-color: #006A50;
    color: #FFFFFF;
  }
  /* banner */
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    border-radius: 24px;
  }
  .banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
  }
  .banner-tilte{
    font-size: 56px;
    /* font-weight: bold; */
    margin-bottom: 24px;
  }
  /* pillars-of-bangladesh */
  .card{
    background-color: #FFFFFF;
    border: 1px solid #0e0e0e15;
    border-radius: 16px;
    padding: 24px;
    transition: background-color 0.3s ease;
  }
  .card:hover{
    background-color:#C6E4D6;
  }
  /* visiton of future */
  .vision-of-future-card{
    background-color: #ffffff; 
    padding: 33px;
    border-radius: 16px;
    transition:background-color 0.3s ease; ;
  }
  #card-one:hover{
    background-color: rgba(84, 144, 245, .2);
  }
  #card-two:hover{
    background-color:#C6E4D6;
  }
  #card-three:hover{
    background-color:#F7EBCF;
  }
  .learn-more-btn{
    background-color: #006A50;
    color: #FFFFFF;
    cursor: pointer;
  }
  #learn-more-btn-one{
    background-color:#5490F5 ;
  }
  #learn-more-btn-two{
    background-color:#09A15C ;
  }
  #learn-more-btn-three{
    background-color:#FFC239 ;
  }
  /* quote */
  .quote{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 24px 20px;
    padding: 47px 24px;
  }
  .quote-details{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
  }
  .yunus{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
  }
  /* opinion */
  .opinion-table{
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
  }
  th,td{
    padding: 14px;
    text-align: start;
  }
  select{
    padding: 14px;
  }
  td{
    border: 1px solid black;
  }
  /* recent news */
  .satellite{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 48px;
    gap: 32px;
  }
.satellite-info-title{
  color: #0E0E0ECC;
  font-size: 32px;
}
  .satellite-2{
    flex-direction: row-reverse;
  }
  .satellite>img{
    border-radius: 16px;
    margin-bottom: 12px;
  }
  .time-date{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
  }
  .recent-details{
    margin-bottom: 32px;
  }
/* donate */
.donate{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.donate-item{
  padding: 40px;
  border: 1px solid #0E0E0E15;
  border-radius: 16px;
}
.donate-item:hover{
  background-color: #C6E4D6;
}
.donate-container{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.input-amount{
  padding: 20px 422px;
  border: none;
  margin-bottom: 32px;
}
/* newsletter */
.newsletter{
  padding: 80px 265px;
  border-radius: 24px;
}
.email-input{
  padding: 18px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.subscribe{
  padding: 18px;
  border-radius: 0 5px 5px 0;
}
.email-subscribe{
  display: flex;
  gap: 0;
  margin-bottom: 24px;
}
/* footer */
.footer{
  flex-direction: column;
  padding:50px ;
  background: #FFFFFF;
}
.footer-title{
  font-size: 32px;
  margin-bottom: 32px;
}
hr{
  border:1px solid #0E0E0E10;
  margin: 0 auto;
  width: 75%;
}
.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;
}